body {
    background-color: black;
    color: white;
}

.ana {
   display:flex;
   justify-content: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background: linear-gradient(to right, rgb(219, 10, 10), rgb(138, 2, 25), rgb(255, 4, 88));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}




.mensagem {
   
    font-family: Arial, Helvetica, sans-serif;

}

h2 {
    position: relative;
    bottom:100px;
    left: 320px;
}

.mensagem img {
    display: flex;
    position: relative;
    left: 400px;
    top:50px;
    width: 200PX;
}

h3 {
    display: flex;
    justify-content:initial;
}

.anaum {
     background: linear-gradient(to right, rgb(47, 0, 255), rgb(0, 140, 255), rgb(0, 140, 255));
   -webkit-background-clip:text ;
   -webkit-text-fill-color: transparent;

}

.amor h1 {
    font-size: small;
   font-family:cursive
}


    


.sim:hover {
    font-size: large;
 background: linear-gradient(to right, rgb(0, 119, 255), rgb(48, 4, 209), rgb(0, 203, 230));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

   .dog-rollover input {
     display:none;
    
    }

    .dog-rollover label {
      display: inline-block;
      position: absolute;
      width: 2.5em;
      height: 2.5em;
      cursor: pointer;
    }

    .dog-rollover .dog {
      background: #353681;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      position: absolute;
      transition:  0.6s ease;
      top: 0px;
    }

    .dog {
  transition: 0.6s ease;
}

    
.switch input {
    display:none;

}

       
    .fundo {
        background: rgba(131, 131, 131, 0.103);
      border-radius: 50px;
      width: 35px;
      height: 130px;
      padding: 4px;
      position: relative;
      rotate: 90deg;
      bottom: 48px;
      left: 49px;
      transition:  0.3s;
    }

    .switch input:checked + .fundo{
        background: rgba(42, 42, 56, 0.5);
        transition: 0.1 ease;
    }
    
  #muda {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

label {
  display: inline-block;
  width: 30px; /* hitbox real */
  height: 30px;
}

.legal {
  pointer-events: none  ;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.legal h1 {
  pointer-events: all;
}

.legal.toma :hover {
  color:blue
}

.imagens {
  pointer-events: none;
}

.imagens.ligado:hover img{
opacity: calc(0);
}

.imagens img{

  border-radius: 50%;
  width: 80px;
}

.especial {
 position: absolute;
 bottom:-170px;

}

.dddd {
 position: absolute;
 bottom: -170px;
 left: 91px;  
}

       
    
    

    
   